footer *{
	font-size: 11pt;
	color: #bbbbbb;
}

footer a{
	color: #eeeeee;
}
footer {
	padding-top: 20px;
	text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
	background-color: #333333; 
}