.title-bar{
	background-color: #10AC00;
	color: #ffffff;
	font-size: 16pt;
	width: 98%;
	float: left;
	padding-left: 1%;
	padding-top: 0%;
	padding-right: 1%;
	display: block;
	margin: 0;
	height: 65px;
	box-shadow:1px 1px 5px #3B3B3B;
}

.link-section{
    float: right;
    padding-right: 1%;
    display: inline-block;
}

.title-bar li{
	font-size: 14pt;
	list-style-type: none;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 0;
	float: left;
	display: inline-block;
}

.title-bar a{
	color: #ffffff;
	display: inline-block;
}

.title-bar ul ul{
	display: none;
	margin-right: 0;
	padding-left: 10px;
	margin-right: 0px;
	float: left;
}
.title-bar ul li:hover > ul{
	display: block;
}

.title-bar ul {
	list-style: none;
	position: relative;
	display: inline-block;
	background: #10AC00;
}

.title-bar ul li{
	float: left;
	padding-left: 7px;
	padding-right: 7px;
}

.title-bar ul li a{
	padding: 5px 0px 5px 0px;
	display: block;
	color: #ffffff;
	border-radius: 0;
}

.title-bar ul li:hover{
	background: #14DC00;
}

.title-bar ul li:hover > ul { 
	/*padding-top: 5px;*/
	padding-left: 0px;
	/*padding: 0px;*/
}

.title-bar ul li:hover > ul li {
	float: none;
	display: block;
}

.title-bar ul li {
	position: relative;
}

.title-bar ul li ul {
	position: absolute;
	top: 30px
	left:0;
	margin-left: -7px;
	margin-right: -7px;
	padding-left: 5px;
	box-shadow:1px 1px 3px #3B3B3B;

}

#title{
	margin-top: 23px;
	font-size: 1.1em;
}
