* {
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	color: white;
}
html{
	position: relative;
    min-height: 100%;
}
body {
	padding: 0px 0px 0 0px;
	margin: 0 0 0;	
	/*height: 100%;*/
	background-color: #6C6F70; 
}

a{
	text-decoration: none;
}

.center{
	text-align: center;
}

.page-content{
	display: block;
	padding-top: 	150px;
	padding-right: 	23%;
	padding-bottom: 0;
	padding-left:  	23%;
}

#profile-photo{
	box-shadow:1px 1px 5px #3B3B3B;
	float: left;
	margin-left: 3%;
	margin-right: 3%;
}

#contact-list li{
	list-style-type: none;
}