@media (min-width: 1200px){
  body {
    margin-left: 10%;
  }

  #wrapper {
    width: 80%;
  }
}

html {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

#wrapper {
  width: 80%;
  max-width: 1200px;
}

body {
  display: flex;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  font-size: 1em;
  margin-top: 5em;
  margin-bottom: 2%;
  margin-right: 20%;
  background-color: #fdfdfd;
  flex-flow: row;
}

.navigation {
  margin-top: 1.5em;
  flex: 0 0 200px;
  text-align: right;
  padding-right: 2em;
}

.content {
  flex: 0 1 700px;
  padding: 2em;
}

@media (max-width: 650px){
  body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fdfdfd;
    flex-flow: column;
  }

  #wrapper {
    width: 90%;
  }

  .navigation {
    margin-top: 0.5em;
    flex: 0 0 100px;
    text-align: left;
    padding-left: 2em;
  }

  .content {
    flex: 0 1 250px;
  }

  .navigation p {
    margin-left: 2em;
  }
}

a {
  text-decoration: underline;
  color: #222;
}

ul.unstyled {
  list-style-type: none;
}

.left-bar {
  border-left: solid 1px #aaa;
}

.bottom-bar {
  border-bottom: solid 1px #aaa;
  padding-bottom: .4em;
  margin-bottom: 1em;
}

.page-header {
  font-size: 21px;
  margin-top: 0;
}

.blog-list {
  padding-left: 0;
  list-style-type: none;
}

.blog-post-title {
  display: inline-block;
  min-width: 250px;\\
  margin: 5px;
}

/*
 *  Blog Post navigation styles
 */
.blog-post-navigation {
  display: flex;
  width: 100%;
}

@media (min-width: 500px) {
  .blog-post-navigation {
    flex-direction: row;
  }

  .blog-post-navigation section {
    flex: 1 50px;
  }

  .blog-post-navigation .link {
    margin: 0.5em 0 0 0;
    text-align: center;
  }

  .next {
    text-align: right;
  }
}

@media (max-width: 500px) {
  .blog-post-navigation {
    flex-direction: column;
  }

  .blog-post-navigation section {
    flex: 1 1em;
  }

  .blog-post-navigation .link {
    margin: 0.5em 0 0 0;
    text-align: center;
  }
}

.disabled {
  color: #aaa;
}

ul .tag-list{
  margin: 10px;
  padding: 10px;
  text-align: right;
}

ul .tag-list .tag {
  padding: 4px;
  background-color: grey;
  color: white;
  display: inline-block;
  border-radius: 5px;
  margin: 1px;
}

pre {
  white-space: pre-wrap;
}

img {
  width: 100%;
}

.img {
  max-width: 100%;
  height: auto;
}

.project-name-list li {
  padding: .3em;
}

.project .img {
  max-width: 90%;
  border: 1px black;
  border-style: solid;
}

.project-list-item {
  display: flex;
  flex-wrap: wrap;
}

.project-description {
  flex: 2 0 200px;
  padding: 10px;
}

.project-img {
  flex: 1 200px;
  padding: 10px;
  margin: 1em;
}

.project-line {
  color: #aaa;
}

.text-center {
  text-align: center;
}

@keyframes navigation_hover {
  from { 
    background-color: white;
    color: black;
  }
  to {
    background-color: black;
    color: white;
  }
}

.navbar a {
  text-decoration: none;
  display: block;
  padding: 4px;
}

.navbar a:hover {
  animation: navigation_hover 0.7s forwards;
}

.pull-right {
  float: right;
  text-align: right;
}
