body {
  display: flex;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  font-size: 14px;
}

@media (min-width: 500px) {
  body {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #fdfdfd;
    flex-flow: row;
  }

  .navigation {
    flex: 1 200px;
    text-align: right;
    padding-right: 2em;
  }

  .content {
    flex: 0 1 500px;
  }
}

@media (max-width: 700px){
  body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fdfdfd;
    flex-flow: column;
  }

  .navigation {
    margin-top: 2em;
    margin-left: 1em;
    flex: 1 0 100px;
    text-align: left;
    padding-right: 2em;
  }

  .content {
    flex: 0 1 200px;
  }
}

@media (max-width: 1200px){
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.content {
  padding: 1em;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

a {
  text-decoration: underline;
  color: #222;
}

ul.unstyled {
  list-style-type: none;
}

.left-bar {
  border-left: solid 1px #aaa;
  padding-left: 1em;
}

.bottom-bar {
  border-bottom: solid 1px #aaa;
  padding-bottom: .4em;
  margin-bottom: 1em;
}

.blog {
  padding-left: 0;
  list-style-type: none;
}

.blog-post hr {
  color: #aaa;
}

.blog-post h1 {
  font-size: 1.5em;
}

.blog-post h2 {
  font-size: 1.4em;
}

.blog-post h3 {
  font-size: 1.25em;
}

.blog-post h4 {
  font-size: 1em;
}

.blog-date {
  right:0px;
  top:4px;
}

.blog-post-title {
  text-decoration: none;
}

/*
 *  Blog Post navigation styles
 */
.blog-post-navigation {
  display: flex;
  width: 100%;
}

@media (min-width: 500px) {
  .blog-post-navigation {
    flex-direction: row;
  }

  .blog-post-navigation section {
    flex: 1 50px;
  }

  .blog-post-navigation .link {
    margin: 0.5em 0 0 0;
    text-align: center;
  }

  .next {
    text-align: right;
  }
}

@media (max-width: 500px) {
  .blog-post-navigation {
    flex-direction: column;
  }

  .blog-post-navigation section {
    flex: 1 1em;
  }

  .blog-post-navigation .link {
    margin: 0.5em 0 0 0;
    text-align: center;
  }
}

.disabled {
  color: #aaa;
}

ul .tag-list{
  margin: 10px;
  padding: 10px;
  text-align: right;
}

ul .tag-list .tag {
  padding: 4px;
  background-color: grey;
  color: white;
  display: inline-block;
  border-radius: 5px;
  margin: 1px;
}

.navbar a {
  text-decoration: none;
}

.jobs {
  padding-left: 15px;
}

.job {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: solid 1px #aaa;
}

.work .company {
  display: inline;
}

.work .company-description {
  text-align: left;
  margin-left: 5px;
  color: grey;
  display: inline;
}

.work .job-title, .job-date {
  text-align: right;
  color: grey;
}

pre {
  white-space: pre-wrap;
}

img {
  width: 100%;
}

.img {
  max-width: 100%;
  height: auto;
}

.project .img {
  max-width: 90%;
  border: 1px black;
  border-style: solid;
}

.project-list-item {
  display: flex;
  flex-wrap: wrap;
}

.project-description {
  flex: 2 0 200px;
  padding: 10px;
}

.project-img {
  flex: 1 200px;
  padding: 10px;
  margin: 1em;
}

.project-line {
  color: #AAA;
}

.project-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 2;
  padding: 10px;
}

.project-name {
  margin: 2em 1em 0 0;
}

.text-center {
  text-align: center;
}
