---
layout: default
title: Projects | Aaron Gunderson
---

<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<h2>Projects</h2>
					Here are a few projects I have worked on.

					<ul>
						{% for project in site.data.projects %}
							<li><a href="#{{ project.html_name }}">{{ project.name}}</a></li>
						{% endfor %}
					</ul>
				</div>
				
			{% for project in site.data.projects %}
			<div class="row">
				<div class="col-md-12">
					<hr id="{{ project.html_name }}">
					<h2>
					<a href="{{ project.url }}">
						{{ project.name}}
					</a>
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-6">
				    <a href="#" class="thumbnail">
						<img src="{{ project.src }}" alt="{{ project.alt }}">
					</a>
				</div>
				<div class="col-md-6">	
					<p class="">{{ project.description }}</p>
				</div>
			</div>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
