<div id="footer">
	&copy; 2014 Aaron Gunderson &middot;
	Want to Know More?
	<script type="text/javascript">get_email_link()</script>
	&middot; Source Code on <a href="https://github.com/agundy/agundy.github.io">Github</a>
	<br>
	<br>
	<a href="https://twitter.com/aaron_gundy" class="twitter-follow-button" data-show-count="false">Follow @aaron_gundy</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>