<title>{{ page.title }}</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% elsif page.excerpt %}
<meta name="description" content="{{ page.excerpt | strip_html }}">
{% endif %}
<meta name="keywords" content="Aaron Gunderson, agundy, software engineer, open source, developer, programming">
<meta name="author" content="Aaron Gunderson">
<meta name="google-site-verification" content="Zdn9dJ6XGhiVx2L70Rdo-osF6edSSSCNdjdrgzJF0uM" />

<link rel="stylesheet" href="/css/font-awesome.css" type="text/css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/blog.css">
<link rel="stylesheet" type="text/css" href="/css/work.css">

<script src="/js/main.js"></script>
