---
layout: default
title: Blog | Aaron Gunderson
header: Blog
---

<div class="col-xs-12">
  <ul class="blog">
    {% for post in paginator.posts %}
    <li class="blog-post">
      <p class="blog-date pull-right">{{ post.date | date: '%B %d, %Y' }}</p>
      <p><a class="blog-post-title" href="{{ post.url }}"> <h3>{{ post.title }}</h3></a></p>
      {{ post.excerpt }}
      <a href="{{ post.url }}">Read More</a>
      <hr>
    </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div>
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous disabled">Previous</span>
    {% endif %}
    <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next disabled">Next</span>
    {% endif %}
    <span class="pull-right">&nbsp;<a href="/blog/all/">All Posts</a></span>
    <span class="pull-right"><a href="/feed.xml"><i class="fa fa-rss"></i></a></span>
  </div>
</div>
