---
layout: default
title: Work | Aaron Gunderson
header: Work
description: Aaron Gunderson's Work Experience
---

<div class="work col-md-12 col-xs-12">
  <ul class="jobs">
    {% for job in site.data.jobs %}
    <li class="job">
      <div class="row">
        <div class="col-md-8">
          <h4 class="company"><a href="{{ job.company_url }}">{{ job.name }}</a></h4>
          <span class="company-description">{{ job.company_description }}</span>
        </div>
        <div class="col-md-4">
          <div class="job-title">
            {{ job.job_title }}
          </div>
          <div class="job-date">
            {{ job.dates }}
          </div>
        </div>
      </div>
      <div class="job-description">
        {{ job.job_description }}
      </div>
      <div class="technologies">
        <ul class="tag-list">
          {% for tech in job.technologies %}
          <li class="tag">{{ tech }}</li>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
