---
layout: default
title: Work | Aaron Gunderson
header: Work
description: Aaron Gunderson's Work Experience
---

<ul class="unstyled">
  {% for job in site.data.jobs %}
  <li class="job">
    <article>
      <h4 class="company"><a href="{{ job.company_url }}">{{ job.name }}</a></h4>
      <span class="company-description">{{ job.company_description }}</span>
      <p>
      <em class="job-title">{{ job.job_title }}</em>
      <span class="job-date">{{ job.dates }}</span>
      </p>
      <p class="job-description">
        {{ job.job_description }}
      </p>
      <div>
        <ul class="tag-list">
          {% for tech in job.technologies %}
          <li class="tag">{{ tech }}</li>
          {% endfor %}
        </ul>
      </div>
    </article>
  </li>
  {% endfor %}
</ul>
