---
layout: default
title: Work | Aaron Gunderson
header: Work
description: Aaron Gunderson's Work Experience
---

<div class="work">
  <ul class="unstyled jobs">
    {% for job in site.data.jobs %}
    <li class="job">
      <article>
        <h4 class="company"><a href="{{ job.company_url }}">{{ job.name }}</a></h4>
        <span class="company-description">{{ job.company_description }}</span>
        <div class="job-title">
          {{ job.job_title }}
        </div>
        <div class="job-date">
          {{ job.dates }}
        </div>

        <div class="job-description">
          {{ job.job_description }}
        </div>
        <div class="technologies">
          <ul class="tag-list">
            {% for tech in job.technologies %}
            <li class="tag">{{ tech }}</li>
            {% endfor %}
          </ul>
        </div>
      </article>
    </li>
    {% endfor %}
  </ul>
</div>
