<!DOCTYPE html>

<html>

<head>
	{% include head.html %}
</head>

<body>
	<div class='container'>

		<div id="layout" class="row">
			<div class="links col-md-2 col-md-offset-1 col-xs-offset-0">
				<p><a href="/">Aaron Gunderson</a></p>
				<p><a href="/about/">About</a></p>
				<p><a href="/projects/">Projects</a></p>
				<p><a href="/blog/">Blog</a></p>
				<p><a href="/contact">Find Me</a></p>
			</div>
			<div class="col-md-9 col-xs-12">
				<div class="row">
				    <div class="col-md-12">
				        <h3>{{ page.header }}</h3>
				    </div>
				</div>
				{{ content }}
			</div>
		</div>
	</div>
</body>

</html>
