<!DOCTYPE html>

<html>

  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="links col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2">
          {% include navigation.html%}
        </div>
        <div class="col-sm-10 col-xs-12">

          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li class="active">{{ page.title }}</li>
          </ol>

          <div class="page-header">
            <h2>{{ page.title }} <small>{{ page.date | date: '%B %d, %Y' }}</small></h2>
          </div>

          {{ content }}

          <br>
          <br>
          <br>
      </div>
    </div>
  </body>
</html>
