<!DOCTYPE html>

<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}

    <div class="page-content">
        {{ page.date | date: '%B %d, %Y' }}

        <h1>{{ page.title }}</h1>

        {{ content }}

        <br>
        <br>
        <br>

        <div class="center navigation">
            <div class="button">
                <a  href="{{ page.previous }}">Last Post</a>
            </div>
            <div class="button">
                <a href="/blog/">All Posts</a>
            </div>
            <div class="button">
                <a href="{{ page.next }}">Next Post</a>
            </div>

        </div>

    </div>
</body>

<footer>
    {% include footer.html %}
</footer>

</html>
